<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576055934237-pt74207afi4midd5nhkvffiabqb0u5sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576055934237-pt74207afi4midd5nhkvffiabqb0u5sr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576055934237-vn1k003p9ao9b8ct0kd5tq16i2sb3ti1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaXB-3FAe6Zx_C1bKiVYFgsFI2RrQDKKc</string>
	<key>GCM_SENDER_ID</key>
	<string>576055934237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupProject</string>
	<key>PROJECT_ID</key>
	<string>fittrack-61776</string>
	<key>STORAGE_BUCKET</key>
	<string>fittrack-61776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576055934237:ios:4844e837b5f5989720f5f4</string>
</dict>
</plist>